*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#fff0f5;
}

/* NAVBAR */
nav{
    background:#ffc0cb;
    padding:15px 40px;
    display:flex;
    justify-content:space-between;
}

.logo{
    font-size:22px;
    font-weight:bold;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:25px;
}

nav ul li a{
    text-decoration:none;
    color:#333;
    font-weight:bold;
}

/* HOME */
.hero{
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero h1 span{
    color:#e75480;
}

.hero p{
    margin:10px 0 20px;
    color:#555;
}

/* ICONS */
.social-icons a{
    background:#e75480;
    color:white;
    padding:10px;
    margin:5px;
    border-radius:50%;
}

/* BUTTON */
.btn{
    margin-top:20px;
    background:#f48fb1;
    padding:12px 25px;
    color:white;
    text-decoration:none;
    border-radius:25px;
    font-weight:bold;
}

/* SECTIONS */
.section{
    padding:60px 20px;
    text-align:center;
}

.section.light{
    background:#ffe6ee;
}

/* SKILLS */
.skills span{
    background:#f8a5c2;
    padding:10px 20px;
    margin:8px;
    display:inline-block;
    border-radius:20px;
}

/* PROJECTS */
.project-card{
    background:white;
    max-width:300px;
    margin:15px auto;
    padding:20px;
    border-radius:15px;
}

/* CONTACT */
form{
    max-width:400px;
    margin:auto;
}

input, textarea{
    width:100%;
    padding:10px;
    margin-bottom:12px;
    border-radius:8px;
    border:1px solid #ccc;
}

button{
    background:#e75480;
    color:white;
    padding:10px 25px;
    border:none;
    border-radius:20px;
    cursor:pointer;
}
